@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,231;1,231&display=swap');
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    transition: color 0.3s ease-in-out;
}

body{
    height: 100vh;
    box-sizing: border-box;
    color: white;
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
  
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover,  
p:hover, a:hover, span:hover, li:hover {
    color: #20B2AA;
}

.cabecalho{
    
    background-color: black;
    display: flex;
    padding: 1% 0% 0% 2%;
    gap: 30px;
    
}
.cabecalho__textos{
    display: flex;
    flex-direction: column;
}


.cabecalho__nome{
    font-family: "Montserrat", sans-serif;
    
}
.cabecalho__nome1{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.principal{
    display: flex;
    justify-content: space-between;
    
    gap: 10px;
    padding: 5% 6% 5% 6%;
    
    
    
}
.sobre{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container__texto__titulo{
    font-family: "Montserrat", serif;
    font-weight: 500;
    
    
}

.container__texto__paragrafro{
    font-family: "Roboto", serif;
    font-weight: 300;
    padding-left: 50px;
    width: 500px;
}

.outro__lado{
    padding: 0% 7% 0% 0% ;
    gap: 20px;
    display: flex;
    flex-direction: column;
    

}
.links{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.link{
    display: flex;
    justify-content: center;
    padding: 7px 0;
    color: #20B2AA;
    text-align: center;
    width: 131px;
    gap: 5px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 16px;
    background-color: black;
    font-family: "Montserrat", serif;
    font-weight: 600;
    border: 1px solid  #20B2AA;;
}
.link:hover{
   
   box-shadow: 0px 4px 8px #20B2AA;
}

.imagem{
    border-radius:50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: block;
}
